:root {
    --black: #1c1c1c;
    --white: #ffffff;
    --green-darker: #4FAC66;
    --green: #6FCC86;
    --green-lighter: #7FDC96;
    --danger-dark: #720000;
    --danger: #ff4141;
    --danger-lighter: #ff6161;

    --blue-darker: #006393;
    --blue: #33B3D3;
    --blue-lighter: #73F3FF;
    --greyBF: #BFBFBF;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div,
img,
p,
span,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

input {
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    display: block;
}

button {
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.layout {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: var(--black);
}

.h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    color: var(--black);
    margin-bottom: 18px;
}

.h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.input-block {
    display: flex;
    flex-wrap: wrap;

    &__input {
        flex-grow: 1;
        border: 1px solid var(--blue);
        border-radius: 12px;
        padding: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--greyBF);
        margin-top: 6px;
        background-color: var(--white);
    }

    &__label {
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: var(--black);
    }
}

.btn {
    padding: 10px 36px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;

    border: 2px solid var(--green);
    border-radius: 50px;
    outline: none;
    cursor: pointer;

    transition: color .3s ease-in-out,
        background-color .3s ease-in-out,
        border-color .3s ease-in-out;

    &_small {
        padding: 4px 10px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 12px;
    }

    &_primary {
        color: var(--white);
        background-color: var(--green);

        &:not(:disabled) {
            &:focus {
                border-color: var(--green-darker);
                background-color: var(--green-lighter);
            }

            &:hover {
                background-color: var(--green-lighter);
            }
        }
    }

    &_primary-outlined {
        color: var(--green);

        &:not(:disabled) {
            &:focus {
                color: var(--white);
                background-color: var(--green-lighter);
            }

            &:hover {
                color: var(--white);
                background-color: var(--green);
            }
        }
    }

    &_danger {
        color: var(--white);
        background-color: var(--danger);
        border-color: var(--danger);

        &:not(:disabled) {
            &:focus {
                border-color: var(--danger-dark);
            }

            &:hover {
                background-color: var(--danger-lighter);
            }
        }
    }

    &_info-outlined {
        border-color: var(--blue);
        color: var(--blue);

        &:not(:disabled) {
            &:focus {
                color: var(--white);
                background-color: var(--blue-lighter);
                border-color: var(--blue-darker);
            }

            &:hover {
                color: var(--white);
                background-color: var(--blue);
            }
        }
    }
}

.input-group {
    display: flex;

    &>* {
        border-radius: 0;
    }

    input {
        border: 2px solid var(--greyBF);
    }

    :first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    :last-child {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.form-input {
    padding: 4px 10px;
}

.error-message {
    font-weight: bold;
    color: var(--danger)
}